.close_menu {
    background-color: aliceblue;
    margin-bottom: 5px;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

#sidebar {
    background-color: aliceblue;
    position: absolute;
    display: none;
}
#weather_form {
    display: block;
    text-align: center;
}

td, th {
    border: 2px solid gray;
    height: 50px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    margin-bottom: 5px;
}