#close_menu {
    background-color: aliceblue;
    margin-bottom: 5px;
    width: 100%;
    border: none;
}

.link {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

#sidebar {
    background-color: aliceblue;
    position: absolute;
    display: none;
    height: 100%;
    opacity: 0.85;
}

#weather_form {
    display: block;
    text-align: center;
}

td, th {
    border: 2px solid gray;
    height: 50px;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    margin-bottom: 5px;
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

body {
    margin: 0px;
}

#map {
    zoom: 0.5;
    -o-transform: scale(0.5);
    -moz-transform: scale(0.5);
    margin-top: 200px;
}

@media only screen and (max-width: 500px) {
    #map {
        zoom: 0.3;
        -o-transform: scale(0.3);
        -moz-transform: scale(0.3);
    }
}

#map img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

area {
    cursor: pointer;
}

#weather-element {
    text-align: center;
}