<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static',filename='icon.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">
  <title>Weather Forecast</title>
  {% if weather %}
  {% set table = IMPORT('conversion_table') %}
  {% endif %}
  <script>
    function closeMenu() {
      document.getElementById("sidebar").style.display = "none";
      document.getElementById("open-button").style.display = "block";
    }
    function openMenu() {
      document.getElementById("sidebar").style.display = "block";
      document.getElementById("open-button").style.display = "none";
    }

    let taipei_districts = [
      "北投區",
      "松山區",
      "士林區",
      "內湖區",
      "中山區",
      "中正區",
      "信義區",
      "大安區",
      "文山區",
      "南港區",
      "大同區",
      "萬華區",
    ]
    let new_taipei_districts = [
      "板橋區",
      "三重區",
      "中和區",
      "永和區",
      "新莊區",
      "新店區",
      "土城區",
      "蘆洲區",
      "樹林區",
      "汐止區",
      "鶯歌區",
      "三峽區",
      "淡水區",
      "瑞芳區",
      "五股區",
      "泰山區",
      "林口區",
      "深坑區",
      "石碇區",
      "坪林區",
      "三芝區",
      "石門區",
      "八里區",
      "平溪區",
      "雙溪區",
      "貢寮區",
      "金山區",
      "萬里區",
      "烏來區",
    ]

    function change_option() {
      let county = document.getElementById("county").value;
      let districts = document.getElementById("site")
      districts.innerText = null;
      if (county == "台北市") {
        for (var i in taipei_districts) {
          option = document.createElement("option");
          option.text = taipei_districts[i];
          districts.add(option);
        }
      }
      if (county == "新北市") {
        for (var i in new_taipei_districts) {
          option = document.createElement("option");
          option.text = new_taipei_districts[i];
          districts.add(option);
        } 
      }
    }
  </script>
</head>

<body>
  <div id="sidebar">
    <button onclick="closeMenu();" id="close_menu">Close &times;</button>
    <div><a href="/" class="link" style="margin: 5px;">HomePage</a></div>
    <div><a href="/forecast" class="link" style="margin: 5px;">Forecast</a></div>
    <div><a href="https://github.com/SiriusKoan/TaipeiWeather" class="link" target="_blank">Github repo</a></div>
  </div>
  <div>
    <button onclick="openMenu();" class="open_menu" id="open-button" style="position: absolute;">&#9776;</button>
  </div>
  <form action="/forecast" , method="POST" style="text-align: center;">
    <select id="county" onchange="change_option();">
      <option value="台北市">台北市</option>
      <option value="新北市">新北市</option>
    </select>
    <select name="site" id="site" required>
    </select>
    <input type="submit" value="查詢">
  </form>
  <br>
  {% if weather %}
  last update: {{ last_update }}
  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in range(weather['weatherElement'][0]['time'] | length) %}
        <th>
          <div>{{ weather['weatherElement'][0]['time'][i]['startTime'][5:-3] }}</div>
          <div>~</div>
          <div>{{ weather['weatherElement'][0]['time'][i]['endTime'][5:-3] }}</div>
        </th>
        {% endfor %}
      </tr>
      {% for factor in weather['weatherElement'] %}
      <tr>
        {% if factor['elementName'] != 'PoP6h' %}
        <td>{{ table.barometer_to_chinese[factor['elementName']] }}</td>
        {% for val in factor['time'] %}
        <td>{{ val['elementValue'][0]['value'] }}{{ table.units[factor['elementName']] }}</td>
        {% endfor %}
        {% else %}
        <td>{{ table.barometer_to_chinese['PoP6h'] }}</td>
        {% for val in factor['time'] %}
        <td colspan="2">{{ val['elementValue'][0]['value'] }}{{ table.units['PoP6h'] }}</td>
        {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </thead>
  </table>
  {% endif %}
  <footer style="bottom: -150px;">
    <span>© 2020 <a href="https://github.com/SiriusKoan" target="_blank">SiriusKoan</a> & Red</span>
  </footer>
  <script>
    let county = document.getElementById("county");
    county.value = "台北市";
    change_option();
  </script>
</body>

</html>